/*Styling body(Ali, Steven, Ross)*/
html, body {
    width: auto!important; 
    overflow-x: hidden!important;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eecbff;
    font-family: 'Roboto', helvetica, sans-serif; 
}

a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

/* Contact page starts here (Aelita 21113131) */

/* Header starts here (Aelita 21113131) */
#a-header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: -o-flex;
    display: flex;
    background-color: #c797cf;
    padding: 30px 0px 20px 0px;
}

.a-logo {
    width: 100px;
    height: 70px;
    margin: auto;
}

    .a-logo img {
    transition: 0.2s ease-in-out;
    cursor: pointer;
}  

.a-logo img:hover{
    transform: scale(1.3,1.3);
}

.a-logo-cont {
    display: flex;
    flex: 1;
}

.a-logo-cont img {
    width: 100px;
    height: 70px;
    margin: auto;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.a-logo-cont img:hover {
    transform: scale(1.1,1.1);
}

.a-headNav-cont{
    display: flex;
    flex-direction: column;
    flex: 3;
    overflow: hidden;
}

.a-header-cont{
    flex: 1;
    margin: auto;
    padding: 10px;
}

.a-nav-cont {
    flex: 1;
    
}

.a-nav {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: -5px;
}

.a-nav li{
    flex-basis: 16%;
    padding: 10px;
    font-size: 15px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #000000;
    border-radius: 1px;
    margin: 10px; 
    transition: 0.2s ease-in-out;
}

.a-nav li:hover {
    transform: scale(1.1);
}

.a-nav a {
    color: #ffffff;
    margin: 15px 5px 15px 15px;
}
.a-nav .icon {
    display: none;
  }

/* Header Ends here (Aelita 21113131) */

/* Main body starts here (Aelita 21113131) */

.a-main-contact-area {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.a-main-contact-area .a-name {
    max-width: 800px;
    text-align: center;
}

.a-main-contact-area .a-name h1 {
    font-size: 30px;
    font-weight: 500;
}

.a-main-contact-area .a-name h2 {
    font-size: 25px;
    font-weight: 500px;
}
.a-contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.a-contact-container .a-contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
} 

.a-contact-container .a-contact-info .a-contact-box {
    position:relative;
    padding: 20px 0px;
    display: flex;
}

.a-contact-container .a-contact-info .a-contact-box .a-contact-icon {
    min-width: 60px;
    height: 60px;
    display: flex;
    background: #c797cf;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.a-contact-container .a-contact-info .a-contact-box .a-contact-text {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 10px;
    flex-direction: column;
}

.a-contact-form {
    width: 60%;
    padding: 40px;
    background: #c797cf;
    margin-top: -80px;
}

.a-contact-form .a-input-box {
    width: 100%;
    position: relative;
    margin-top: 10px;
    padding: 10px;
}

.a-contact-form .a-input-box input,
.a-contact-form .a-input-box textarea  {
    width: 100%;
    padding: 5px 0px;
    font-size: 18px;
    margin: 10px 0px;
    border: none;
    outline: none;
    resize: none;
}
/*.a-contact-form .a-input-box textarea::-webkit-scrollbar {
    width: 4px;
}

.a-contact-form .a-input-box textarea::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.a-contact-form .a-input-box input:focus 
.a-contact-form .a-input-box input:valid 
.a-contact-form .a-input-box textarea:focus 
.a-contact-form .a-input-box textarea:valid  {
    color: #000000;
}*/

.a-contact-form .a-input-box input[type="submit"] {
    width: 100%;
    padding: 5px 0px;
    font-size: 18px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}

.a-error {
    color: red;
}

.a-error-border {
    border: 2px solid red;
}

#a-success {
    color: green;
}

.a-map-box {
    width: 100%;
    padding: 1% 8% 1%;
    margin-bottom: 30px;
}

@media screen and (max-width: 786px) {

    .a-contact-box {
        padding: 50px;
    }
    .a-contact-container {
        flex-direction: column;
    }
    .a-contact-container .a-contact-info {
      margin-bottom: 40px;  
      width: 100%;
    }

    .a-contact-form {
    width: 100%;
    margin-top: 80px;
    }
    .a-map-box {
        width: 100%;
        padding: 1% 4% 1%;
        margin-bottom: 10px;
    }
}
/* Main body ends here (Aelita 21113131) */


/* Footer Starts here  (Aelita 21113131)*/
.a-footer {
    background-color: #c797cf;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
}

.a-footer-logo img {
    width: 100px;
    height: 60px;
    margin-left: 30px;
    margin-top: -20px;
    transition: 0.2s ease-in-out;
}
.a-footer-logo img:hover {
    transform: scale(1.1,1.1); 
}

.a-footer-menu a { 
    margin:0px 40px 0px 150px;
    font-size: 20px;
    cursor: pointer;
    transition: text-decoration-color 800ms;
}

.a-footer-menu a:hover {
    text-decoration: underline 0.15em #eecbff;
    color: #000000;

}

.a-icons img {
    margin:0px 20px 0px;
    width: 20px;
    height: auto;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.a-icons img:hover {
    transform: scale(2,2);
}

.a-back-to-top {
    margin-left:20px;
    width: 30px;
    height: auto; 
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.a-back-to-top img:hover {
    transform: scale(1.1,1.1);
}

/* Footer Ends here (Aelita 21113131*/


/* Media Queries (Aelita 21113131) */

@media screen and (max-width: 1360px) {
    .a-nav li{
        font-size: 15px;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
    }
    .a-nav li{
        margin: 5px; 
    }

}

@media screen and (max-width: 1264px) {
    .a-nav li{
        font-size: 13px;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
    }
    .a-nav li{
        margin: 3px; 
    }

}

@media screen and (max-width: 786px) {
    .a-nav li{
        font-size: 12px;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
    }
    .a-logo-cont img {
        width: 70px;
        height: 50px;
        margin: auto;
    }
    .a-nav li{
        margin: 3px; 
    }

    .a-nav a.icon {
      float: right;
      display: block;
    }
    
}



@media screen and (max-width: 600px){
    .a-nav li{
        font-size: 10px;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
    }

    .a-logo-cont img {
        width: 50px;
        height: 30px;
        margin: auto;
    }

    .a-nav li{
        margin: 2px; 
    }
}
/* Contact page starts here (Aelita 21113131) */

