
/*Styling body(Ali, Steven, Ross)*/
html, body {
    width: auto!important; 
    overflow-x: hidden!important;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eecbff;
}

a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}


/* Footer Starts here  (Aelita 21113131)*/
.a-footer {
    background-color: #c797cf;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
}

.a-footer-logo img {
    width: 100px;
    height: 60px;
    margin-left: 30px;
    margin-top: -20px;
    transition: 0.2s ease-in-out;
}
.a-footer-logo img:hover {
    transform: scale(1.1,1.1); 
}

.a-footer-menu a { 
    margin:0px 40px 0px 150px;
    font-size: 20px;
    cursor: pointer;
    transition: text-decoration-color 800ms;
}

.a-footer-menu a:hover {
    text-decoration: underline 0.15em #eecbff;
    color: #000000;

}

.a-icons img {
    margin:0px 20px 0px;
    width: 20px;
    height: auto;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.a-icons img:hover {
    transform: scale(2,2);
}

.a-back-to-top {
    margin-left:20px;
    width: 30px;
    height: auto; 
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.a-back-to-top img:hover {
    transform: scale(1.1,1.1);
}/* Footer Ends here */