
/*Styling body(Ali, Steven, Ross)*/
html, body {
    width: auto!important; 
    overflow-x: hidden!important;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eecbff;
    font-family: 'Roboto', helvetica, sans-serif; 
}

a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}


/* Header starts here (Aelita 21113131) */
#a-header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: -o-flex;
    display: flex;
    background-color: #c797cf;
    padding: 30px 0px 20px 0px;
}

.a-logo {
    width: 100px;
    height: 70px;
    margin: auto;
}

.a-logo img {
    transition: 0.2s ease-in-out;
}  

.a-logo img:hover{
    transform: scale(1.3,1.3);
}

.a-logo-cont {
    display: flex;
    flex: 1;
}

.a-logo-cont img {
    width: 100px;
    height: 70px;
    margin: auto;
    transition: 0.2s ease-in-out;
}

.a-logo-cont img:hover {    
    transform: scale(1.1,1.1);
}

.a-headNav-cont{
    display: flex;
    flex-direction: column;
    flex: 3;
    overflow: hidden;
}

.a-header-cont{
    flex: 1;
    margin: auto;
    padding: 10px;
}

.a-nav-cont {
    flex: 1;
    
}

.a-nav {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: -5px;
}

.a-nav li{
    flex-basis: 16%;
    padding: 10px;
    font-size: 15px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #000000;
    border-radius: 1px;
    margin: 10px; 
    transition: 0.2s ease-in-out;
}

.a-nav li:hover {
    transform: scale(1.1);
}

.a-nav a {
    color: #ffffff;
    margin: 15px 5px 15px 15px;
}
.a-nav .icon {
    display: none;
  }

@media screen and (max-width: 1360px) {
    .a-nav li{
        font-size: 15px;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
    }
    .a-nav li{
        margin: 5px; 
    }

}

@media screen and (max-width: 1264px) {
    .a-nav li{
        font-size: 13px;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
    }
    .a-nav li{
        margin: 3px; 
    }

}

@media screen and (max-width: 786px) {
    .a-nav li{
        font-size: 12px;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
    }
    .a-logo-cont img {
        width: 70px;
        height: 50px;
        margin: auto;
    }
    .a-nav li{
        margin: 3px; 
    }

    .a-nav a.icon {
      float: right;
      display: block;
    }
    
}



@media screen and (max-width: 600px){
    .a-nav li{
        font-size: 10px;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
    }

    .a-logo-cont img {
        width: 50px;
        height: 30px;
        margin: auto;
    }

    .a-nav li{
        margin: 2px; 
    }
}

/* Header Ends here */

