/*Styling body(Ali, Steven, Ross)*/
html, body {
    width: auto!important; 
    overflow-x: hidden!important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eecbff;
}

a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

/* main body of index.html starts here (Aelita 21113131) */
button {
    background: #c797cf;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}
button:hover {
    background: #c797cf;
    color: #ffffff;
    border: none;
    transform: scale(1.2);
}
.a-under-slider {
    max-width: 1200px;
    margin: 60px auto 0 auto;
    padding: 20px 50px;
}
.a-under-slider h1, h2 {
    text-align: center;
}
.a-box {
    padding: 20px;
    margin-bottom: 30px;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    
}
.a-box h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.a-box img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    
}
.a-box button {
    margin: 20px 40px;
    font-size: 18px;
}

#a-who-we-are h1 {
    margin-top: 80px;
    margin-bottom: 80px;
}
#a-who-we-are img {
   width: 55%;
}
.a-home-about {
    display: flex;
    margin-bottom: 80px;
}
.a-home-about p {
    margin: 100px 90px 80px -150px;
    z-index: 99;
    justify-content: center;
    padding: 80px 60px 20px 60px;
    background-color: #c797cff1;
    text-align: center;
}
#a-testimonials h1{
    margin-top: 100px;
    margin-bottom: 50px;
}
.a-cust-review {
    display: flex;
    justify-content: space-between; 
}

.a-review-box {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

.a-review-box img {
    width: 150px;
    height: 120px;
    margin: auto;
}

.a-stars {
    margin: auto;
}

.a-stars p {
    padding: 20px 0px 0px 0px;
    align-items: center;
}

.checked {
    color: #d8d21a;
}

@media screen and (min-width: 900px) {
    .a-serviceInfo{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 786px) {
  
}

@media screen and (min-width: 480px){
}

/* main body of index.html ends here (Aelita 21113131) */